# ~/.config/systemd/user/rust-dns.service

[Unit]
AssertPathExists=%h/rust-dns/target/release/rust-dns

[Service]
WorkingDirectory=%h/rust-dns
Environment="RUST_LOG=info"
ExecStart=%h/rust-dns/target/release/rust-dns ./config/%H-config.json
Restart=always

[Install]
WantedBy=default.target
